<h1>task list for class based views</h1>
{%load static%}
{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<p><a href="{%url 'logout'%}">Log out</a></p>
{% else %}
<p><a href="{% url 'login'%}">Login</a></p>
{%endif%}

<hr>
<!DOCTYPE html>
<html>
<head>
	<title>TO DO</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/style1.css'%}">

</head>
<body>
	<div class="container">

		<div id="task-container">
			<div id="form-wrapper">
				<form id="form">
					<div class="flex-wrapper">
						<div style="flex: 6">
							<input id="title" class="form-control" type="text" name="title" placeholder="task title">
							<input id="description" class="form-control" type="text" name="desc" placeholder="Task description">
						</div>
						<div style="flex: 1">
							<input id="submit" class="btn" type="submit" >
						</div>
					</div>
				</form>
			</div>

			<div id="list-wrapper">
			
			</div>	
		</div>

	</div>

<script type="text/javascript" src="{% static 'js/myjs.js'%}"></script>

</body>
</html>
